.nav {
  grid-area: nav;
  background-color: #c2e7b3;
}

.navList {
  margin-left: 20px;
}

.item {
  padding: 10px 0;
}

.item a{
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

.item a.active {
  background-color: #a4b7e0;
}

.friendsList {
  margin: 30px 6px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.friendItem {
flex-grow: 1;
}

.avatar {
  height: 80px;
  width: 80px;
}