.loginBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loginForm {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
}

//.input {
//  padding: 4px 8px;
//}

.formSummaryError {
  color: tomato;
  font-weight: bold;
  padding: 4px;
}